[submodule "vendor/Boost"]
	path = vendor/Boost
	url = https://github.com/zxwnstn/Boost
[submodule "vendor/FbxSDK"]
	path = vendor/FbxSDK
	url = https://github.com/zxwnstn/FbxSDK
[submodule "vendor/Qt5_MSVC"]
	path = vendor/Qt5_MSVC
	url = https://github.com/zxwnstn/Qt5_MSVC
